<div class="flex items-center max-w-md mx-auto bg-white rounded-full px-4 py-2 shadow-no-blur">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-400 mr-2" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
      </svg>
      <input type="text" [(ngModel)]="searchTerm" (input)="searchTermChanges()" placeholder="Search pokémon name..."
            class="w-full bg-transparent focus:outline-none text-base text-gray-700 placeholder-gray-400" />
</div>